@import "tailwindcss";

@font-face {
  font-family: "Poppins-ex";
  src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins-ex";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-ex";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins-ex";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins-ex";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins-ex";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 800;
}

body {
  font-family: "Poppins-ex", "Courier New", Courier, monospace;
}

input#file-upload-button {
  cursor: pointer;
}
